*{
    box-sizing: border-box;
}

.grid {
    justify-content: center;
    align-content: center;
    width: 80vh;
    height: 80vh;
    margin-left: 31vw;
    display: grid;
    grid-template-columns: 25vh 25vh 25vh;
    grid-template-rows: 25vh 25vh 25vh;
}

.gridbox {
    display: inline-flex;
    width: 24vh;
    height: 24vh;
    bottom: 10vh;
    margin: 2vh;
    border: 0.5vh solid #000000;
    box-shadow:
        0 0 1vh 2vh rgba(0, 0, 0, 0.088);
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

h1 {
    /* margin-left: -2vw; */
    font-size: 7vh;
    font-family: sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 1vh;
    margin-top: 1vh;
}

body {
    background-color: #ffffff;
}

#p2 {
    float: right;
    margin-right: 12vw;
    font-size: 6vh;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 0.5vh solid black;
    border-radius: 2vh;
    width: 8vw;
    text-align: center;
    justify-content: center;
}

#p1 {
    float: left;
    margin-left: 12vw;
    font-size: 6vh;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 0.5vh solid black;
    border-radius: 2vh;
    width: 8vw;
    text-align: center;
    justify-content: center;
}

p {
    font-size: 7vh;
    font-family: sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 0;
}

#turn {
    /* margin-left: -2vw; */
    text-align: center;
}