.grid {
    justify-content: center;
    align-content: center;
    position: fixed;
    width: 80vh;
    height: 80vh;
    margin-left: 70vh;
    /* overflow-y: auto; */
}

.gridbox {
    display: inline-flex;
    width: 22vh;
    height: 22vh;
    padding: 1vh;
    margin-top: 1vh;
    border: 0.5vh solid #000000;
    box-shadow:
    0 0 1vh 2vh rgba(0, 0, 0, 0.088);
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.row {
    /* display: inline-block; */
    /* position: fixed; */
    /* padding: 1vh; */
    margin-bottom: 2vh;
    max-height: inherit;
}

h1 {
    font-size: 7vh;
    font-family: sans-serif;
    text-align: center;
    /* margin-left: -1vh; */
    color: rgb(0, 0, 0);
}

body {
    background-color: #ffffff;
}

#p2 {
    float: right;
    margin-right: 12vw;
    font-size: 6vh;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#p1 {
    float: left;
    margin-left: 12vw;
    font-size: 6vh;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}